<!DOCTYPE html>
<html>
<style>
table, th {
	border: 1px solid black;
}

td {
	border: 1px solid black;
	text-align: center;
}
</style>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:if="${msg}">
		<span th:text=${msg}></span>
	</div>
	<table style="width: 50%; margin: auto">
		<tr>
			<th>ID</th>
			<th>Name</th>
		</tr>
		<tr th:each="LIST_CATE : ${category}">
			<td th:text="${LIST_CATE.categoryID}"></td>
			<td th:text="${LIST_CATE.categoryName}"></td>
		</tr>
	</table>
		<div style="width: 40%; margin: auto;">
			<a th:href="@{/home}">Back to home</a>
		</div>
</body>
</html>