<!DOCTYPE html>
<html>
<style>
table, th {
	border: 1px solid black;
}

td {
	border: 1px solid black;
	text-align: center;
}
</style>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<table style="width: 50%; margin: auto">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Status</th>
			<th>edit</th>
			<th>Delete</th>
		</tr>
		<tr th:each="LIST_CATE : ${category}">
			<td th:text="${LIST_CATE.categoryID}"></td>
			<td th:text="${LIST_CATE.categoryName}"></td>
			<td><input type="checkbox" name="active" th:checked="${LIST_CATE.status}" disabled="true"/></td>
			<td><a th:href="@{/editCatePage/{cateid}(cateid=${LIST_CATE.categoryID})}"> Edit </a></td>
			<td><a th:href="@{/deleteCate/{cateid}(cateid=${LIST_CATE.categoryID})}"> Delete </a></td>
		</tr>
	</table>
</body>
</html>