<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div style="text-align: center;">
		<div>Home page</div>
		<div>
			<h3>
				<a th:href="@{category/get-all-cate-ad}">View Category Admin</a>
			</h3>
			<h3>
				<a th:href="@{category/get-all-cate-us}">View Category User</a>
			</h3>
			<h3>
				<a th:href="@{category/add-cate-page}">Add Category</a>
			</h3>
			<h3>
				<a th:href="@{product/get-all-product}">view product</a>
			</h3>
			<h3>
				<a th:href="@{product/add-product-page}">Add New Product</a>
			</h3>
		</div>
	</div>
</body>
</html>